---
import GeneralLayout from '../layouts/GeneralLayout.astro'
import Header from '../components/Header.astro'
import ButtonLink from '../components/ButtonLink.astro'
import thinArrowRightUp from '../../public/icons/thin-arrow-right-up.svg'
import { LINKEDIN_LINK, TELEGRAM_LINK } from '../../constants'
import CVDownloadButton from '../components/CVDownloadButton.astro'
---

<GeneralLayout title="CV" bgClass="bg-white" theme="light">
	<Header theme="light" gradient="from-white to-white/0">
		<ButtonLink
			link={TELEGRAM_LINK}
			title="Telegram"
			theme="light"
			target="_blank"
			darkIconRightSrc={thinArrowRightUp}
			hideIcon={true}
		/>
		<ButtonLink
			link={LINKEDIN_LINK}
			title="LinkedIn"
			theme="light"
			target="_blank"
			darkIconRightSrc={thinArrowRightUp}
			hideIcon={true}
		/>
	</Header>

	<div class="my-20 flex flex-col">
		<section class="container flex flex-col border-b border-black border-opacity-10 py-10 text-dark-grey-2">
			<h2 class="mb-3 text-title-2-medium">Senior UX/Product Designer at Vention</h2>
			<h4 class="mb-8 text-subtitle-1-regular">February 2020 - Present</h4>
			<p class="text-description-1-regular">
				As a Product and UX designer, I have developed mobile and web applications across sectors like logistics,
				healthcare, and beverage services, always focusing on creating high-quality, user-friendly products. My design
				approach is rooted in Lean UX principles, enabling me to quickly validate assumptions, iterate based on real
				user feedback, and deliver impactful results in a streamlined manner. I’ve led user research and usability
				testing, which helped drive informed design decisions and ensured that each solution I created was user-centric
				and aligned with business goals.
				<br />
				<br />
				As a Product and UX designer, I have developed mobile and web applications across sectors like logistics, healthcare,
				and beverage services, always focusing on creating high-quality, user-friendly products. My design approach is rooted
				in Lean UX principles, enabling me to quickly validate assumptions, iterate based on real user feedback, and deliver
				impactful results in a streamlined manner. I’ve led user research and usability testing, which helped drive informed
				design decisions and ensured that each solution I created was user-centric and aligned with business goals.
			</p>
		</section>

		<section class="container flex flex-col border-b border-black border-opacity-10 py-10 text-dark-grey-2">
			<h2 class="mb-3 text-title-2-medium">Senior UX/Product Designer at Vention</h2>
			<h4 class="mb-8 text-subtitle-1-regular">February 2020 - Present</h4>
			<p class="text-description-1-regular">
				As a Product and UX designer, I have developed mobile and web applications across sectors like logistics,
				healthcare, and beverage services, always focusing on creating high-quality, user-friendly products. My design
				approach is rooted in Lean UX principles, enabling me to quickly validate assumptions, iterate based on real
				user feedback, and deliver impactful results in a streamlined manner. I’ve led user research and usability
				testing, which helped drive informed design decisions and ensured that each solution I created was user-centric
				and aligned with business goals.
				<br />
				<br />
				As a Product and UX designer, I have developed mobile and web applications across sectors like logistics, healthcare,
				and beverage services, always focusing on creating high-quality, user-friendly products. My design approach is rooted
				in Lean UX principles, enabling me to quickly validate assumptions, iterate based on real user feedback, and deliver
				impactful results in a streamlined manner. I’ve led user research and usability testing, which helped drive informed
				design decisions and ensured that each solution I created was user-centric and aligned with business goals.
			</p>
		</section>

		<section class="container flex flex-col border-b border-black border-opacity-10 py-10 text-dark-grey-2">
			<h2 class="mb-3 text-title-2-medium">Senior UX/Product Designer at Vention</h2>
			<h4 class="mb-8 text-subtitle-1-regular">February 2020 - Present</h4>
			<p class="text-description-1-regular">
				As a Product and UX designer, I have developed mobile and web applications across sectors like logistics,
				healthcare, and beverage services, always focusing on creating high-quality, user-friendly products. My design
				approach is rooted in Lean UX principles, enabling me to quickly validate assumptions, iterate based on real
				user feedback, and deliver impactful results in a streamlined manner. I’ve led user research and usability
				testing, which helped drive informed design decisions and ensured that each solution I created was user-centric
				and aligned with business goals.
				<br />
				<br />
				As a Product and UX designer, I have developed mobile and web applications across sectors like logistics, healthcare,
				and beverage services, always focusing on creating high-quality, user-friendly products. My design approach is rooted
				in Lean UX principles, enabling me to quickly validate assumptions, iterate based on real user feedback, and deliver
				impactful results in a streamlined manner. I’ve led user research and usability testing, which helped drive informed
				design decisions and ensured that each solution I created was user-centric and aligned with business goals.
			</p>
		</section>

		<section class="container flex flex-col border-b border-black border-opacity-10 py-10 text-dark-grey-2">
			<h2 class="mb-6 text-title-2-medium">Skills</h2>
			<p class="text-description-1-regular">
				User-Centered Design, User-Centered Design, User-Centered Design, User-Centered Design, User-Centered Design,
				User-Centered Design
			</p>
		</section>

		<section class="container flex flex-col border-b border-black border-opacity-10 py-10 text-dark-grey-2">
			<h2 class="mb-6 text-title-2-medium">Tools</h2>
			<p class="text-description-1-regular">
				Figma, Miro, UserTesting.com, Figma, Miro, UserTesting.com, Figma, Miro, UserTesting.com, Figma, Miro,
				UserTesting.com
			</p>
		</section>

		<section class="container flex flex-col py-10 text-dark-grey-2">
			<h2 class="mb-6 text-title-2-medium">Languages</h2>
			<p class="text-description-1-regular">English, Russian</p>
		</section>

		<section class="container flex items-center justify-end">
			<CVDownloadButton />
		</section>
	</div>
</GeneralLayout>
