---
import thinArrowRrightBlack from '../../public/icons/thin-arrow-right-black.svg'
import thinArrowRrightWhite from '../../public/icons/thin-arrow-right-white.svg'
import Image from 'astro/components/Image.astro'
import Chip from './Chip.astro'

export interface ICaseCard {
	chips: string[]
	title: string
	link: string
}

interface Props extends ICaseCard {}

const { title, link, chips } = Astro.props
---

<a
	href={link}
	class="case-card flex h-[300px] w-full cursor-pointer flex-col justify-between rounded-40 border border-light-grey-2 bg-light-grey-1 p-5 transition md:w-[350px] md:even:translate-y-16"
>
	<div class="flex flex-1 flex-col">
		<div class="mb-4 flex flex-wrap gap-1">
			{chips?.length && chips.map((chip) => <Chip chip={chip} theme="light" />)}
		</div>
		<span class="title text-title-1-medium transition">{title}</span>
	</div>
	<div class="flex w-full items-center justify-end">
		<div class="arrow-container flex items-center justify-center rounded-20 bg-light-grey-2 px-5 py-1 transition">
			<Image src={thinArrowRrightBlack} alt={title} class="arrow-black h-[32px] w-[32px] transition" />
			<Image src={thinArrowRrightWhite} alt={title} class="arrow-white hidden h-[32px] w-[32px] transition" />
		</div>
	</div>
</a>

<style>
	.case-card:hover {
		@apply border-dark-grey-3 bg-dark-grey-2;

		& .chip {
			@apply border-white text-white;
		}

		& .title {
			@apply text-white;
		}

		& .arrow-container {
			@apply bg-dark-grey-4;
		}

		& .arrow-white {
			@apply block;
		}

		& .arrow-black {
			@apply hidden;
		}
	}
</style>
